<div class="container">
  <h1>Aladin</h1>
  <h3 class="subtitle">I'm looking for a new home...</h3>
  <div class="carrousel">
    <app-carrousel [images]="images"></app-carrousel>
  </div>
  <hr />
  <div class="quick-info">
    <div class="item">
      <div class="title">Location:</div>
      <div class="value">Dublin</div>
    </div>

    <div class="item">
      <div class="title">Breed:</div>
      <div class="value">Retriever (labrador)</div>
    </div>
    <div class="item">
      <div class="title">Age:</div>
      <div class="value">8+ Years</div>
    </div>
    <div class="item">
      <div class="title">Sex:</div>
      <div class="value">Male</div>
    </div>
  </div>
  <hr />
  <div class="info">
    <app-important-stuff></app-important-stuff>

    <div class="about">
      <section>
        <h3>About me</h3>
        <p>
          Aladdin is a handsome, sweet boy who is currently lacking some
          confidence and would love a family to help him with this. He adores
          people and is so affectionate once you gain his trust. He is a playful
          boy and loves company, he struggles without having people around too.
        </p>
      </section>
      <section>
        <h3>Type of Home I need</h3>
        <p>
          Aladdin would like an understanding family with adults only to give
          him the space he needs when he asks for this. He'd love a garden, and
          to go for lots of walks and adventures! After a few meets, he will be
          looking for cuddles and rubs from you all of the time!
        </p>
      </section>
    </div>
  </div>
</div>
