<div class="container">
  <h1>{{animal.name}}</h1>
  <h3 class="subtitle">I'm looking for a new home...</h3>
  <div class="carrousel">
    <app-carrousel [images]="animal.images"></app-carrousel>
  </div>
  <hr />
  <div class="quick-info">
    <div class="item">
      <div class="title">Location:</div>
      <div class="value">{{animal.location}}</div>
    </div>

    <div class="item">
      <div class="title">Breed:</div>
      <div class="value">{{animal.breed}}</div>
    </div>
    <div class="item">
      <div class="title">Age:</div>
      <div class="value">{{animal.age}} Years</div>
    </div>
    <div class="item">
      <div class="title">Sex:</div>
      <div class="value">{{animal.sex}}</div>
    </div>
  </div>
  <hr />
  <div class="info">
    <app-important-stuff></app-important-stuff>

    <div class="about">
      <section>
        <h3>About me</h3>
        <p>
          Meet Simba Simba is a dachshund mix , healthy, vaccinated, chipped, neutered small size 1 year old boy. He
          likes to play, dig holes, cats and other dogs, makes friends with children. Simba was accidentally found by
          Sophie in an undisclosed location while he was starving to eat dirt, Simba was treated, socialized, given
          away, we was thinking that Simba had found a caring family, but Simba was betrayed... because he hunt the
          neighbor's chickens, Simba was thrown out of the house and they told that if we didn't get Simba back, then
          they would put him in an shelter, where his fate would be uncertain... Sophie has 24 dogs at home, so Simba is
          urgently looking for a caring and loving owner who understands what it means to take responsibility for and
          love a four-legged friend. He already have all documents for flying
        </p>
      </section>
      <section>
        <h3>Type of Home I need</h3>
        <p>
          Simba would like an understanding family with adults only to give
          him the space he needs when he asks for this. He'd love a garden, and
          to go for lots of walks and adventures! After a few meets, he will be
          looking for cuddles and rubs from you all of the time!
        </p>
      </section>
    </div>
  </div>
</div>