.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 20px;

  .label-top {
    width: 0;
    height: 0;
    border: 70px solid transparent;
    position: absolute;
    top: -12px;
    left: -46px;
    border-top: 0;
    border-bottom: 70px solid transparent;
    transform: rotate(-45deg);
    &.new {
      border-bottom-color: rgb(202, 147, 238);
    }

    &.expires {
      border-bottom-color: rgb(235, 86, 86);
    }
    &.reserved {
      border-bottom-color: rgb(47, 183, 29);
    }
    .label-new {
      position: relative;
      left: -24px;
      top: 33px;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    .label-expires {
      position: relative;
      left: -16px;
      top: 17px;
      color: white;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
    }

    .label-reserved {
      position: relative;
      left: -36px;
      top: 35px;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  }
  .cover {
    width: 300px;
    height: 270px;
    border: 16px solid white;

    img {
      object-fit: cover;
      width: inherit;
      height: inherit;
    }
  }

  .info{
    display: flex;
    width: 80%;
    justify-content: space-between;

  }
  .location {
    display: flex;

    &-icon {
      margin-right: 8px;
      color: #d62d2d;
      font-size: 30px;
      height:30px;
      width:30px;
    }
  }

  .bold {
    font-weight: bold;
  }
  h2{
    font-weight: normal;
    margin-bottom: 0px;
  }
}
