<div class="container">
  <div class="content">
    <img [ngSrc]="animal.coverPhotoUrl" [alt]="animal.name" width="400" height="350" />
    <div class="info">
      <h1>{{animal.name}}</h1>
      <div class="description">
        <p>
          <span class="tag">Location:</span> <span>{{ animal.location }}</span>
        </p>
        <p>
          <span class="tag">Age:</span><span>{{ animal.age }} years</span>
        </p>
        <p>
          <span class="tag">Sex:</span><span>{{ animal.sex }}</span>
        </p>
      </div>
      <div class="icons">
        <img
          *ngIf="animal.vaccinated"
          src="/assets/icons/vaccinated.png"
          alt="vaccinated"
          matTooltip="Vaccitated"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="before"
        />
        <img
          *ngIf="animal.sterilized"
          src="/assets/icons/sterilized.png"
          alt="sterilized"
          matTooltip="Sterilized"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="before"
        />
        <img
          *ngIf="animal.healthy"
          src="/assets/icons/healthy.png"
          alt="healthy"
          matTooltip="Healthy"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="before"
        />
      </div>

      <div class="action">
        <button mat-raised-button>About {{animal.name}}</button>
      </div>
    </div>
  </div>
</div>
