<div class="container">
  <div class="content">
    <img src="/assets/images/paws.jpg" alt="Lucky" />

    <div class="info">
      <h1>Lucky</h1>
      <div class="description">
        <p><span class="tag">Location:</span> <span>Tbilisi</span></p>
        <p><span  class="tag">Age:</span><span>1 month</span></p>
        <p><span  class="tag">Sex:</span><span>girl</span></p>
      </div>
      <div class="icons">
        <img
          src="/assets/icons/vaccinated.png"
          alt="vaccinated"
          matTooltip="Vaccitated"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="before"
        />
        <img
          src="/assets/icons/sterilized.png"
          alt="sterilized"
          matTooltip="Sterilized"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="before"
        />
        <img
          src="/assets/icons/healthy.png"
          alt="healthy"
          matTooltip="Healthy"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="before"
        />
      </div>

      <div class="action">
        <button mat-raised-button>About Lucky</button>
      </div>
    </div>
  </div>
</div>
