<div class="container">
  <div class="header">Important stuff about me</div>
  <div class="list">
    <div class="item">
      <mat-icon></mat-icon>
      <span>Needs some training</span>
    </div>
    <div class="item">
      <mat-icon></mat-icon>
      <span>Loves treats/will work for food</span>
    </div>
    <div class="item">
      <mat-icon></mat-icon>
      <span>Loves toys/games</span>
    </div>
    <div class="item">
      <mat-icon></mat-icon>
      <span>Crossbreed</span>
    </div>
  </div>
</div>
