<div class="container">
  <div class="content">
    <h1>About Us</h1>
    <h2>Welcome to Rescue Animal Georgia</h2>
    <p>
      At Rescue Animal Georgia our passion is to make a difference in the lives
      of animals in need. Founded on a deep-rooted commitment to compassion,
      care, and the well-being of every creature, we have dedicated ourselves to
      the noble cause of rescuing and safeguarding the most vulnerable members
      of our planet's diverse and magnificent animal kingdom.
      Rescue Animal Georgia began as a humble initiative, born out of love for
      animals and a shared vision of creating a world where every animal can
      live free from suffering. Over the years, we've grown into a dedicated and
      dynamic team of animal lovers, united by a common purpose: to rescue,
      rehabilitate, and provide a second chance for animals in distress.
    </p>
    <h2>Our Mission</h2>
    <p>
      Our mission is simple but profound: to be a beacon of hope for animals in
      crisis. We tirelessly work towards:
    </p>
    <ul>
      <li>
        <span>Rescue:</span> We respond swiftly to animals in crisis, whether
        they are abandoned, abused, injured, or homeless. Our rescue efforts
        span across species, from domestic pets to wildlife.
      </li>
      <li>
        <span>Rehabilitation:</span> We believe in second chances. We provide
        medical care, nurturing, and rehabilitation to help each animal recover
        physically and emotionally, setting them on a path to a brighter future.
      </li>
      <li>
        <span>Education:</span> We understand that change starts with awareness.
        We strive to educate and inspire communities about the importance of
        animal welfare and responsible pet ownership.
      </li>
      <li>
        <span>Advocacy:</span> We advocate for policies and practices that
        protect the rights and well-being of animals. We're a voice for those
        who cannot speak for themselves.
      </li>
    </ul>

  </div>
</div>
